<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Read</title>
</head>

<body>
    <div class="mx-auto border border-primary border-2 p-3 m-3 w-50 font-monospace" style="width: fit-content;">
        <h1 class="text-center">Read</h1>
        <ul id="items" class="list-group list-unstyled text-danger"></ul>
        <a href="/" class="btn btn-outline-dark w-100 mt-2">Volver</a>
    </div>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <script>
        fetch('api/items')
            .then(response => response.json())
            .then(items => {
                let ul = document.querySelector('#items');
                if (items.length > 0) {
                    items.forEach(element => {
                        const li = document.createElement('li');
                        li.textContent = `Id: ${element.id_user} ---> name: ${element.user_name}`
                        ul.appendChild(li);
                    });
                    return;
                } else {
                    div.textContent = "Nada por aquí"
                    return;
                }
            })
            .catch(error => console.error('Error fetching items:', error));
    </script>
</body>

</html>